<h1 style="margin-bottom: 1em">Rails 3 Example</h1>

<big><%= link_to "Go to Example DB Interaction (Blog)", posts_path %></big>

<h2 style="margin-top: 3em">Server Processes</h2>
<pre>
<%= raw `ps aux`.gsub("<","&lt;").gsub(">","&gt;") %>
</pre>

<h2>Environment</h2>
<pre>
<% ENV.sort.each do |k,v| %>
<%= k %>=<%= v%>
<% end %>
</pre>
