<!DOCTYPE html>
<html>
<head>
  <title>HelloWorld</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

<br/>
<div if="footer" style="border-top: 1px solid #787; margin-top: 4em; padding-top: 0.5em;">
<a href="/">Environment Information</a>. <a href="/posts">Example DB Interation</a>.<br/>
Example application <a href="https://github.com/efficientcloud-examples/rails3-demo">source code</a>.<br/>
Example blog source: the <a href="http://guides.rubyonrails.org/getting_started.html">RubyOnRails tutorial</a>.
</div>
</body>
</html>
